body {
  background-color: #fff;
  color: #444;
  font-family: monospace;
  font-size: 1.4em;
}

a:link    { text-decoration:none; color: #A3906D; }
a:visited { text-decoration:none; color: #A3906D; }
a:hover   { text-decoration:none; color: #956C1F; }
a:active  { text-decoration:none; color: #A3906D; }

.row:before,
.row:after {
    content:"";
    display: table ;
    clear:both;
}

.cell {
  width: 5px;
  height: 5px;
  border: 2px solid transparent;
  background-color: transparent;
  float: left;
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: transparent;
  /*color: #000000;*/
}

.end_point {
  background-color: #f00;
}

.alive {
  background-color: #ff9933;
  /*color: #fff;*/
}

.was_dead {
  background-color: #3399ff;
}

.left_wall {
  border-left: 2px solid #666666;
}
.right_wall {
  border-right: 2px solid #666666;
}
.top_wall {
  border-top: 2px solid #666666;
}
.bottom_wall {
  border-bottom: 2px solid #666666;
}


.board {
  margin: 20px;
  padding: 0px;
  background-color: #FFFBF5;
  display: inline-block;
  border: 2px solid #956C1F;
}

ol, p {
  margin: 20px;
}

li {
  color: #999;
  font-size: 0.8em;
}

button {
  transition-duration: 0.3s;
  background: #f18d05;
  color: #ffffff;
  text-shadow: none;
  border: none;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 30px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
}

button:enabled {
  background-color: #f18d05;
}
button:disabled {
  background-color: #D9D9D9;
}

.reset_button {
  height: 22px;
  line-height: 20px;
}

input[type="text"] {
    width: 35px;
    margin-bottom: 10px;
}
